<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gestion_de_formations_d_une_école.Properties.Settings.ecoleprojecteConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ecoleprojecte;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>